<div class = "cover">
    <div class="container">
       <div class="row margins">
           <div class="col-sm-12">
             <p class="lead para1">
           Alexa's digital marketing tools help you engineer growth and drive success      
            </p>
            <p class="lead para2">
Make better decisions. Prove your results. Increase your website traffic. Be the hero.<br> Alexa makes it easy.      
            </p>
            <button class="btn try">
                        TRY 7 DAYS FREE
                    </button>
                    <button class="btn learn">
                        Learn More
               </button>
               <div class="back">
               <p class="lead para3"><i>
               "I browse Alexa every day seeking relative intelligence of our performance against our peers. It’s a benchmark that we use to judge our marketing initiatives. As a goal oriented CEO, I couldn't live without Alexa."</i>
               </p>
<p class="lead para4">
David Kalt, CEO of Reverb
               </p>
               </div>
           </div>
            </div>
        </div>  
        </div>
    <!--</section>-->
<div class="section container overview">
    <h1>Why is BetterHelp right for me?</h1>
    <div class="row">
        <div class="col-sm-4">
            <h2>It's professional.</h2>
            <p>All counselors are licensed, accredited professionals. BetterHelp allows you to connect with them in a safe and private online environment. Anything you share is confidential.</p>
        </div>
        <div class="col-sm-4">
            <h2>It's affordable.</h2>
            <p>Start free so you can feel confident this is right for you. Then pay a low flat fee for unlimited sessions with your counselor. Counseling doesn't have to be expensive.</p>
        </div>
        <div class="col-sm-4">
            <h2>It's convenient.</h2>
            <p>Do it at your own time and at your own pace. Communicate with your therapists as often as you want and whenever you feel it's needed. Help is available at your time and your place.</p>
        </div>
    </div>
</div>
<section id="cover">    				
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
                <div class="quote"><blockquote>
				    		<p class="er">OVER 500,000 PEOPLE SIGNED UP. WHAT DO THEY THINK?</p>
				    	</blockquote></div>
				<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
				  <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
				    <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
                    <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
                    <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
                    <li data-target="#fade-quote-carousel" data-slide-to="5"></li>
				  </ol>
				  <!-- Carousel items -->
				  <div class="carousel-inner">
                                

				    <div class="item">
				    
				    	<blockquote>
				    		<p>"Talking with Dr. Nadler has been very beneficial for me. This is the first time I've sought out therapy and feel very lucky to have found her."</p>
				    	    <span class="author"> - Written                                                     5 days
                         ago by A.M for Melissa Begich (LPC)                    </span>
				    	</blockquote>	
				    </div>
				    <div class="item">
				    	<blockquote>
				    		<p>"Lisa is a gift! I'm so glad and grateful that she became my counselor. She helped me a lot with her insights, compassion, positivity and kindness."</p>
				    					    	    <span class="author"> - Written                                                     5 days
                         ago by A.M for Melissa Begich (LPC)                    </span>
				    	</blockquote>
				    </div>
				    <div class="active item">
				    	<blockquote>
				    		<p>"Kristin is very patient and very understanding. I couldn't have asked for anyone better. She's been a great help."</p>
				    					    	    <span class="author"> - Written                                                     5 days
                         ago by A.M for Melissa Begich (LPC)                    </span>
				    	</blockquote>
				    </div>
                    <div class="item">
    			    	<blockquote>
				    		<p>"Kristi has been great at making me look at seemingly negative and hopeless situations in a more positive way. She has consistently made me feel more positive when I have felt negative."</p>
				    					    	    <span class="author"> - Written                                                     5 days
                         ago by A.M for Melissa Begich (LPC)                    </span>
				    	</blockquote>
				    </div>
                    <div class="item">
    			    	<blockquote>
				    		<p>"Laura was here for me when I most needed it. She is a person I could trust and open up to. I am very grateful for her help."</p>
				    					    	    <span class="author"> - Written                                                     5 days
                         ago by A.M for Melissa Begich (LPC)                    </span>
				    	</blockquote>
				    </div>
                    <div class="item">
    			    	<blockquote>
				    		<p>"Robert is very encouraging and has done a good job of keeping me on my track. Some simple but very useful advice has been a great help to me."</p>
				    					    	    <span class="author"> - Written                                                     5 days
                         ago by A.M for Melissa Begich (LPC)                    </span>
				    	</blockquote>
				    </div>
				  </div>
				</div>
			</div>							
		</div>
	</div>
</section>
<div class="section container overview">
    <h1>Why is BetterHelp right for me?</h1>
    <div class="row">
        <div class="col-sm-4">
            <h2>It's professional.</h2>
            <p>All counselors are licensed, accredited professionals. BetterHelp allows you to connect with them in a safe and private online environment. Anything you share is confidential.</p>
        </div>
        <div class="col-sm-4">
            <h2>It's affordable.</h2>
            <p>Start free so you can feel confident this is right for you. Then pay a low flat fee for unlimited sessions with your counselor. Counseling doesn't have to be expensive.</p>
        </div>
        <div class="col-sm-4">
            <h2>It's convenient.</h2>
            <p>Do it at your own time and at your own pace. Communicate with your therapists as often as you want and whenever you feel it's needed. Help is available at your time and your place.</p>
        </div>
    </div>
</div>
<!--////////////////////////////-->
	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to Start Counseling:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        </div>

